# **Python assignment**

In [1]:
# ---------------------------------------------------------
# File Name: MidTermAssignment.py
# Description: 
# Autor: Prat Paul; Gavini Charles; Fournier Justin; Blanc Mathieu
# Creation Date: 2024-10-16
# Version: 1.0
# ---------------------------------------------------------

Installing yahoofinance

In [2]:
#pip install yfinance

Installing statsmodels

In [3]:
#pip install statsmodels

In [4]:
#importations
import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from statsmodels.graphics.tsaplots import plot_acf # import this function from this submodule
import statsmodels.api as sm
import scipy.stats as stats
from scipy.stats import gaussian_kde, norm, iqr, skew, kurtosis, jarque_bera, kstest, anderson
from statsmodels.stats.diagnostic import lilliefors
import scipy.signal as ss
import pylab

First pandas dataframe of Nvidia stocks

In [13]:
# Importing Nvidia stock from yahoo finance
Nvidia = yf.download("NVDA", start="1999-09-16", end="2024-10-16")
Nvidia.head()

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close     Volume
Date
1999-09-16  0.051563  0.052083  0.050260  0.050911   0.046693  158112000
1999-09-17  0.050586  0.051042  0.048958  0.050781   0.046574  171648000
1999-09-20  0.049870  0.050521  0.048958  0.048958   0.044902  229104000
1999-09-21  0.047917  0.048177  0.043620  0.044271   0.040603  737328000
1999-09-22  0.044271  0.045573  0.041667  0.045313   0.041559  375984000

In [21]:
latex_table = Nvidia.head().to_latex(index=True)
with open("Latex/table.tex", "w") as file:
    file.write(latex_table)

/var/folders/5r/ft807c7n1ngd3fpt2_gwsg0m0000gn/T/ipykernel_58295/210123375.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  latex_table = Nvidia.head().to_latex(index=True)

Cheking timestamp of 25 years

In [7]:
print(Nvidia.index[-1],Nvidia.index[0])
"""
Total_duration=Nvidia.index[-1]-Nvidia.index[0]
print(Total_duration)
delta=pd.to_timedelta(Total_duration)
years= delta/pd.Timedelta(days=365.25)
print(years)
print(Nvidia.index)
"""

2024-10-15 00:00:00 1999-09-16 00:00:00

'\nTotal_duration=Nvidia.index[-1]-Nvidia.index[0]\nprint(Total_duration)\ndelta=pd.to_timedelta(Total_duration)\nyears= delta/pd.Timedelta(days=365.25)\nprint(years)\nprint(Nvidia.index)\n'

In [8]:
Nvidia.index
#extracting adjusted
Nv_adj=Nvidia['Adj Close']
Nv_adj.index = Nvidia.index

#display first 5 rows, now it is a pandas series instead of a dataframe
Nv_adj.head()

Date
1999-09-16    0.046693
1999-09-17    0.046574
1999-09-20    0.044902
1999-09-21    0.040603
1999-09-22    0.041559
Name: Adj Close, dtype: float64

In [9]:
#calculating return

In [12]:
# Define the content for the code appendix
code_content = r"""
\section{Appendix: Python Code}
Below is the Python code used in this analysis.

\begin{lstlisting}[language=Python, caption=Python Code for Analysis]
# Python code example
import numpy as np
import pandas as pd

def analyze_data(data):
    mean = np.mean(data)
    std_dev = np.std(data)
    return mean, std_dev

data = [1, 2, 3, 4, 5]
mean, std_dev = analyze_data(data)
print(f"Mean: {mean}, Standard Deviation: {std_dev}")
\end{lstlisting}
"""

# Write to the 'code_appendix.tex' file
with open("Latex/code_appendix.tex", "w") as file:
    file.write(code_content)